{:classname "com.mysql.cj.jdbc.Driver" :subprotocol "mysql" :subname "//localhost/fashionboutique?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Europe/Paris" :user "root" :password "Leptir123"}
